<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/');
} %>

<%# messages() %>

<h1>You're Logged In</h1>

<p>Welcome to your account page, <%# user.username %></p>
<a href="/account/edit">Update Account Info</a>
<a href="/account/logout">Logout</a>