<% const date= new Date()
let year = date.getFullYear() %>
<footer>
    <p>© <%= year %> All rights reserved</p>
    <a href="https://www.instagram.com/she_lives_well_">Instagram</a>
    <p>Contact us:</p>
    <p>Phone: 801-564-4463</p>
</footer>