<header>
    <h1><a href="/">SheLivesWell</a></h1>
    <span>
      <%  if (locals.loggedin) {%>
        <a href="/account">Welcome <%= user.fname %>!</a>
        <a href="/account/logout">Logout</a>
        <!-- <a href="/">Home</a> -->
        <img src="/images/logot.png" alt="logo">
        <%} else { %>
          <a href="/account/login">Login</a>
          <a href="/account/register">Register</a>
          <img src="/images/logot.png" alt="logo">
        <!-- <button id="menu-icon">🍔</button> -->
        <% } %>
    </span>
    <!-- <div id="tools">
            <a title="Click to log out" href="/account/logout">Log Out</a>
            <a title="Click to log in" href="/account/login">Login</a>
    </div> -->
</header>
<!-- <script src="/js/hamburger.js"></script> -->