<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#social">Social Wellness</a></li>
        <li><a href="#physical">Physical Wellness</a></li>
        <li><a href="#emotional">Emotional Wellness</a></li>
        <li><a href="#financial">Financial Wellness</a></li>    
        <li><a href="#intellectual">Intellectual Wellness</a></li>    
        <li><a href="#spiritual">Spiritual Wellness</a></li>    
    </ul>
</nav>