<nav>
    <!-- <div class="menu-icon" id="menu-icon">&#9776;</div>
    <ul id="nav">
        <li><a href="#about">About</a></li>
        <li><a href="/wellness/social">Social</a></li>
        <li><a href="#physical">Physical</a></li>
        <li><a href="#emotional">Emotional</a></li>
        <li><a href="#financial">Financial</a></li>    
        <li><a href="#intellectual">Intellectual</a></li>    
        <li><a href="#spiritual">Spiritual</a></li>    
    </ul> -->
    <%- nav %>
</nav>
<script src="/js/hamburger.js"></script>