<%#- messages() %>
<%#- title %>
<section id="landing">
    <img src="/images/mom.jpg" alt="Landing Image" id="landing-img">
</section>
<section id="social" class="wellness-section">
    <h2 class="dropdown-toggle">Social Wellness</h2>
    <div class="dropdown-content">
        <img src="/images/social.png" alt="Social Wellness Image" class="section-icon">
        <p>Social wellness is paramount for women as it fosters a sense of belonging, support, and connection, which are integral to our overall well-being.
            </br></br>Strong social networks provide avenues for emotional expression, mutual encouragement, and shared experiences, buffering against stress and enhancing resilience.
            </br></br>Social connections often translate into access to resources, opportunities, and diverse perspectives, enriching our personal growth and expanding our horizons.
            </br></br>Prioritizing social wellness not only enhances individual happiness but also contributes to the collective strength and cohesion of communities.</p>
    </div>
</section>
<section id="physical" class="wellness-section">
    <h2 class="dropdown-toggle">Physical Wellness</h2>
    <div class="dropdown-content">
        <img src="/images/physical.png" alt="Physical Wellness Image" class="section-icon">
        <p>Physical wellness is of utmost importance for women as it lays the foundation for a healthy and fulfilling life.
        </br></br>Regular physical activity not only strengthens muscles and bones but also improves cardiovascular health, boosts mood, and reduces the risk of chronic diseases like heart disease and osteoporosis, which disproportionately affect women.
        </br></br>Maintaining a healthy body through balanced nutrition and exercise promotes positive body image and self-esteem.
        </br></br>By investing in our physical health, we can enjoy greater resilience, longevity, and quality of life, enabling us to pursue our passions and aspirations with vigor and confidence.</p>
    </div>
</section>
<section id="emotional" class="wellness-section">
    <h2 class="dropdown-toggle">Emotional Wellness</h2>
    <div class="dropdown-content">
        <img src="/images/emotional.png" alt="Emotional Wellness Image" class="section-icon">
        <p>Emotional wellness is paramount for women as it forms the cornerstone of our overall well-being and resilience.
        </br></br>Acknowledging and addressing emotions, whether positive or negative, fosters self-awareness, empathy, and inner peace.
        </br></br>Women often navigate complex roles and societal expectations, making emotional self-care essential for managing stress, cultivating healthy relationships, and sustaining mental health.
        </br></br>Prioritizing emotional wellness involves developing coping strategies, seeking support when needed, and practicing self-compassion.
        </br></br>By nurturing emotional health, women can enhance our ability to navigate life's challenges with grace and authenticity, fostering greater fulfillment, satisfaction, and harmonious connections with ourselves and others.</p>
    </div>
</section>
<section id="financial" class="wellness-section">
    <h2 class="dropdown-toggle">Financial Wellness</h2>
    <div class="dropdown-content">
        <img src="/images/financial.png" alt="Financial Wellness Image" class="section-icon">
        <p>Financial wellness is crucial for women as it empowers us to achieve independence, security, and fulfillment.
            </br></br>Women often face unique financial challenges, including the gender pay gap, caregiving responsibilities, and longer life expectancies, making it essential to prioritize financial literacy and planning.
            </br></br>By managing finances effectively, women can build a solid foundation for our futures, whether through saving for retirement, investing in education, or pursuing entrepreneurial ventures.
            </br></br>Financial wellness enables women to make informed decisions, assert our autonomy, and pursue their goals with confidence, reducing stress and enhancing overall well-being.
            </br></br>Moreover, it provides a sense of stability and freedom, allowing women to navigate life transitions and unexpected challenges with resilience and resourcefulness.
            </br></br>Thus, investing in financial wellness is not only empowering for women individually but also crucial for promoting gender equality and socioeconomic progress on a broader scale.</p>
    </div>
</section>
<section id="intellectual" class="wellness-section">
    <h2 class="dropdown-toggle">Intellectual Wellness</h2>
    <div class="dropdown-content">
        <img src="/images/intellectual.png" alt="Intellectual Wellness Image" class="section-icon">
        <p>Intellectual wellness is paramount for women as it cultivates curiosity, critical thinking, and lifelong learning, empowering us to thrive personally and professionally.
            </br></br>Engaging in intellectual pursuits, whether through education, reading, or creative endeavors, fosters mental agility, problem-solving skills, and cognitive resilience.
            </br></br>Women's intellectual wellness encompasses not only acquiring knowledge but also challenging assumptions, exploring diverse perspectives, and embracing innovation.
            </br></br>By nurturing intellectual wellness, we can expand our horizons, deepen our understanding of the world, and contribute meaningfully to our communities.
            </br></br>Moreover, intellectual stimulation enhances self-confidence, self-efficacy, and adaptability, equipping women to navigate complexity and uncertainty with confidence and creativity.</p>
    </div>
</section>
<section id="spiritual" class="wellness-section">
    <h2 class="dropdown-toggle">Spiritual Wellness</h2>
    <div class="dropdown-content">
        <img src="/images/spiritual.png" alt="Spiritual Wellness Image" class="section-icon">
        <p>Spiritual wellness is integral for women as it provides a profound sense of meaning, purpose, and connection to something greater than ourselves.
            </br></br>Nurturing spiritual well-being involves exploring beliefs, values, and practices that resonate with one's innermost being, whether through religion, nature, or mindfulness practices.
            </br></br>For women, spiritual wellness offers solace during times of adversity and guidance in decision-making.
            </br></br>It fosters a deep sense of interconnectedness with others and the world, promoting compassion, gratitude, and inner peace.
            </br></br>Prioritizing spiritual wellness allows women to cultivate a sense of balance, harmony, and wholeness in our lives, enhancing our overall well-being on a holistic level.</p>
    </div>
</section>

<script src="js/dropdown.js"></script>